[submodule "themes/hugo-theme-casper"]
	path = themes/hugo-theme-casper
	url = https://github.com/vjeantet/hugo-theme-casper/
[submodule "public"]
	path = public
	url = https://github.com/gcaracuel/gcaracuel.github.io/
